@using StoreApp.Models.Models
@model List<ProductModel> 
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create New Product
            </a>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}