@model TNAI.Dto.Products.ProductDto
@{
    Layout = "_StoreFrontLayout";
}

<div class="">
    <h1>@Model.Name</h1>
    <img src="~/images/@Model.ImageFile" alt="Zdjecie tego produktu" width="350" height=auto />
    <p>@Model.Description</p>
</div>