@model List<CategoryModel> 
<partial name="_Notification" />

<div class="container row pt-4">
    <div class="col-2 pt-5">
        <partial name="_ManagmentLayout" />
    </div>
    <div class="col">
        <div class="hstack justify-content-between align-baseline">
            <h2 class="text-background-primary">
                Category List
            </h2>
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Create New Category
            </a>
        </div>
        <table id="tblData" class="table table-borderless table-dark rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        Categoty Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/category-table.js"></script>
}