@model CategoryViewModel
@{
    Layout = "_StoreFrontLayout";
}

<form asp-action="Index" method="get" class="hstack gap-2 align-items-center mb-4">
    <input type="text" name="searchQuery" class="form-control" placeholder="Wyszukaj po nazwie produktu..." value="@Context.Request.Query["searchQuery"]" />
    <button type="submit" class="btn btn-secondary flex-shrink-0"><i class="bi bi-search mr-2"></i> Szukaj</button>
</form>

<div class="bg-body border bg-body-tertiary px-4 py-2 rounded mb-4">
    <span class="fs-4">@Model.Category.Name </span>
</div>
@if (!Model.ProductModels.Any())
{
    <div class="alert alert-dark mt-3 text-center">Nie znaleziono.</div>
}
else
{
    <div class="row row-cols-3 g-3">
        @foreach (var product in Model.ProductModels)
        {
            <div class="col">
                <partial name="_ProductCard" model="product" />
            </div>
        }
    </div>
}