@model HomeViewModel

@{
    Layout = "_StoreFrontLayout";
}

<div class="row row-cols-3 g-3">
    @foreach (var product in Model.ProductModels)
    {
        <div class="col">
            <partial name="_ProductCard" model="product" />
            
        </div>
    }
</div>

