@using StoreApp.Models.Models
@model List<ApplicationUserModel> 
<partial name="_Notification" />

  <div class="container row pt-4">
    <div class="col-2 pt-5">
        <partial name="_ManagmentLayout" />
    </div>
    <div class="col">
        <h2 class="text-background-primary">
            User List
        </h2>
        <table id="tblData" class="table table-borderless table-dark rounded">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script>
        var loggedInUserId = 0;
    </script>
    <script src="~/js/User.js"></script>
}