@using StoreApp.Models.Models
@model List<ApplicationUserModel> 
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                User List
            </h2>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/User.js"></script>
}