<div class="vstack gap-4 mt-5">
    <a class="card nav-link text-body" asp-area="Admin" asp-controller="Category" asp-action="Index">
        <div class="card-body">
            <p class="card-title mb-0 text-decoration-none">Kategorie</p>
        </div>
    </a>
    <a class="card nav-link text-body" asp-area="Admin" asp-controller="Product" asp-action="Index">
        <div class="card-body">
            <p class="card-title mb-0 text-decoration-none">Produkty</p>
        </div>
    </a>
    <a class="card nav-link text-body" asp-area="Admin" asp-controller="User" asp-action="Index">
        <div class="card-body">
            <p class="card-title mb-0 text-decoration-none">Użytkownicy</p>
        </div>
    </a>
</div>
